p {
  margin-left: 47px;
}
form {
  margin-top: 3%;
  margin-bottom: 30px;
}
.data {
  margin-top: -30px;
  margin-bottom: 55px;
}
#text {
  width: 59%;
}
a {
  text-decoration: none;
}
#temperature {
  font-size: 100px;
  margin-top: -22%;
}
.possition {
  position: relative;
  margin-top: -20%;
  right: -50%;
}
.sunOne {
  margin-left: 38px;
  margin-bottom: 5%;
}
.city {
  font-size: 90px;
  margin-top: 10px;
  margin-bottom: 20px;
}
h3 {
  margin-left: 43px;
  margin-top: 4%;
}
p {
  margin-left: 34px;
  margin-bottom: 30px;
}
.icon {
  display: block;
  margin-left: 20%;
  padding: 0px 100px;
  margin-top: 38px;
}

i {
  font-size: 50px;
}
.day {
  margin-left: 105px;
  margin-top: 20px;
}
.friday {
  margin-left: 123px;
}
.celsius {
  margin-left: 594px;
}
